body{
    width: 100%;
    text-align: -webkit-center;
}
.header{
    width: 400px;
    display: inline-block;
    border: 10px solid red;
    border-radius: 7px;
   
}
body h1{
    color: rgb(69, 68, 66);
    text-align: center;
    text-decoration: underline red;
}

.header h1{
    color: green;
    text-align: center;
    background-color: red;
    border: 3px solid green;
    border-radius: 10px;
}
.header p{
    color: red;
    text-align: center;
    background-color: green;
    border: 3px solid red;
    border-radius: 10px;
}
span{
    color: blue;
}
